# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.pyc

# Environment & local secrets
.env
venv/
ENV/
env/

# Binaries & Archives
*.exe
*.zip
cloudflared.exe
ngrok.exe
ngrok.zip
*.tar.gz

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS / Editor
.DS_Store
Thumbs.db
.vscode/
.idea/
